<nav class="navbar">
    <button routerLink="/" class="cta-button">Home</button>
    <button routerLink="/ambientazione" class="cta-button">Ambientazione</button>
    <button routerLink="/stirpi" class="cta-button">Stirpi</button>
    <button routerLink="/regolamento" class="cta-button">Regolamento</button>
    <button routerLink="/download" class="cta-button">Download</button>
    <button href="https://discord.gg/ZzagxEAg5a" target="_blank" class="cta-button discord">Discord</button>
  </nav>
  
  <router-outlet></router-outlet>
  