<div class="hero">
  <div class="hero-content">
    <h1>Benvenuto su Adventure Master</h1>
    <br>
  </div>
</div>

<section class="intro">
  <p>
    <b>Adventure Master</b> è un gioco di ruolo online che utilizza le meccaniche, le interazioni e il combattimento 
    di <b>Ultima Online</b>. Qui troverai un mondo da esplorare, duelli, guerre e assedi fra fazioni, 
    un sistema di <b>territori da colonizzare</b>, costruire e mettere in rete e un gioco commerciale tutto da scoprire.
  </p>
  <p>
    Vi troverete ad interpretare un discendente di <b>un'antica stirpe</b>, 
    pronto a plasmare <b>un nuovo mondo</b> nelle terre selvagge e inesplorate di <b>Sosaria</b>. 
    In queste terre <b>sconvolte da un cataclisma</b> che ha cambiato per sempre la vita per come la conoscevate, 
    avrete bisogno di essere <b>più forti, intelligenti e resistenti</b>. 
    Per poter riuscire ad essere la versione migliore di voi stessi inseguirete 
    l'unica cosa che può elevare gli esseri umani a creature superiori: <b>l'etere</b>.
  </p>
  <p>
    Su <b>Adventure Master</b> c'è un passato comune per tutti: <b>ciò che può cambiare è il futuro e sarete voi a scriverlo.</b>
  </p>
</section>

<section class="about">
  <button routerLink="/account" class="cta-button">RICHIEDI ACCOUNT</button>
</section>

<section class="features">
  <div class="feature">
    <h3>⚔️ PvP e Battaglie Epiche</h3>
    <p>Partecipa a duelli, guerre tra fazioni e assedi alle città rivali.</p>
  </div>
  <div class="feature">
    <h3>🌎 Un Mondo da Esplorare</h3>
    <p>Scopri terre misteriose, dungeon pericolosi e segreti nascosti.</p>
  </div>
  <div class="feature">
    <h3>🏰 Costruisci e Commercia</h3>
    <p>Espandi il tuo insediamento, gestisci risorse e stringi alleanze.</p>
  </div>
</section>