<div class="hero">
    <div class="hero-content">
      <h1>Comandi di Gioco</h1>
      <p>Tutti i comandi rapidi a portata di mano per dominare Clover.</p>
    </div>
  </div>
  
  <div class="back-wrapper">
    <button routerLink="/gioco/guide" class="cta-button back">
      ← Torna all’elenco Guide
    </button>
  </div>
  
  <section class="lore-section">
    <h2>⌨️ Comandi Principali</h2>
    <ul>
      <li><code>[ability1</code> – Utilizza l'abilità primaria dell'arma.</li>
      <li><code>[ability2</code> – Utilizza l'abilità secondaria dell'arma.</li>
      <li><code>[releaseSummon</code> – Apre un gump per disperdere le evocazioni a distanza.</li>
      <li><code>[linguaggi</code> – Apre il gump di selezione della lingua.</li>
      <li><code>[password nuovapass nuovapass</code> – Cambia la password dell'account di Adventure Master.</li>
      <li><code>[status</code> – Apre un riepilogo del personaggio e mostro i suoi comandi di classe e comandi generici</li>
      <li><code>[changeclass</code> – Permette di cambiare la classe del personaggio.</li>
      <li><code>[abilita</code> – Apre un gump con le abilità e le spell di classe.</li>
    </ul>
  </section>
  
  <section class="lore-section">
    <h2>🛠️ Comandi Utility</h2>
    <ul>
      <li><code>[scuoia</code> – Permette di scuoiare pelli in area.</li>
      <li><code>[cityStone</code> – Seleziona per quale gilda conquistare i Cristalli d'Etere o il punto preferito per il ress.</li>
      <li><code>[estrai</code> – Fonde a distanza armi con proprietà magica senza Forgia Eterica (min. 50 Incantare).</li>
      <li><code>[setlasttarg</code> – Seleziona il bersaglio corrente come "last target".</li>
      <li><code>[svuota</code> – Permette di svuotare i contenitori di liquidi.</li>
    </ul>
  </section>
  
  <div class="final-cta">
    <h2>Memorizza i tuoi comandi</h2>
    <p>Usali rapidamente per adattarti a qualsiasi situazione in battaglia o in esplorazione.</p>
  </div>
  