@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

@keyframes heroZoomIn {
  from {
    transform: scale(1.01); // Inizio leggermente ingrandito
    opacity: 0.9; // Effetto di fade-in
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; // ✅ Impedisce lo scroll orizzontale indesiderato
}

body {
  font-family: 'Cinzel', serif;
  background: linear-gradient(to bottom, rgba(244, 208, 63, 0.25), rgba(244, 208, 63, 0.15));
  margin: 0;
}

:host {
  display: block;
  font-family: 'Cinzel', serif;
  color: #3e2f1a;
}

router-outlet {
  display: block;
  width: 100%; // ✅ Assicura che il contenuto si adatti alla larghezza dello schermo
  max-width: 100vw; // ✅ Evita allargamenti indesiderati
  box-sizing: border-box;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.hero {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black;
  background-size: cover;
  background-position: center;
  animation: heroZoomIn 1s ease-out;

  .hero-content {
    h1 {
      font-size: 3rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  }
}

.lore-section, .stirpe, .disclaimer, .download, .connection .cta {
  padding: 20px 20px;
  max-width: 800px;
  margin: auto;

  h2 {
    font-size: 2rem;
    color: #8b5e3b;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
}

  .feature {
    width: 30%;
    min-width: 250px;
    text-align: center;
    color: #3e2f1a; // Marrone scuro per il testo (uniforme con altre pagine)
  
    h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
      color: #8b5e3b; // Marrone chiaro per i titoli
    }
  
    p {
      font-size: 1rem;
    }
  }

.info-bottom {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); // Ombra per evidenziarle
  background: rgba(255, 255, 255, 0.9); // Sfondo bianco semi-trasparente per risaltare
  padding: 20px;
  color: #8b5e3b;
  text-align: center;
  padding: 40px;
  margin-top: 40px;
  border-radius: 8px;

  h2 {
    font-size: 2rem;
  }

}

.cta {
  text-align: center;
  background: linear-gradient(to right, #9c6745, #c49a5d); // Sfumatura dorata
  color: white;
  padding: 40px;
  margin-top: 40px;
  border-radius: 8px;

  h2 {
    font-size: 2rem;
  }

}

.cta-button {
  font-family: 'Cinzel', serif;
  background: #f4d03f;
  padding: 12px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  color: #3a3a3a;

  &:hover {
    background: #e8c02c;
  }
}

.discord {
  background: #7289da;
  color: white;

  &:hover {
    background: #5a6fb0;
  }
}

