<div class="hero">
    <div class="hero-content">
        <h1>Le Classi di Adventure Master</h1>
        <p>Scegli chi vuoi essere. Tutto ruota attorno all'Etere.</p>
    </div>
</div>

<div class="class-menu">
    <ul>
        <li *ngFor="let classe of classi; let i = index" 
            [class.active]="i === selectedClasseIndex" 
            (click)="selectClasse(i)">
            {{ classe.nome }}
        </li>
    </ul>
</div>

<div class="class-content" [ngClass]="selectedClasse.nome.toLowerCase()">
    <h2 class="class-name">{{ selectedClasse.nome }}</h2>
    
    <div class="class-body">
        <img [src]="selectedClasse.immaginegdr" [alt]="selectedClasse.nome" />
        <section class="class-description">
            <p>{{ selectedClasse.descrizione }}</p>
        </section>
    </div>
    
    <div class="guide-sections">
        <ng-container *ngFor="let sec of selectedClasse.guida">
            <!-- Titolo sezione -->
            <h3 *ngIf="sec.type === 'title'">{{ sec.content }}</h3>

            <!-- Link -->
            <p *ngIf="sec.type === 'link'" class="gdr-link">
                <a [routerLink]="sec.url">{{ sec.linkText }}</a>
            </p>

            <!-- Paragrafo -->
            <p *ngIf="sec.type === 'paragraph'">{{ sec.content }}</p>

            <!-- Lista puntata -->
            <ul *ngIf="sec.type === 'list'">
                <li *ngFor="let item of sec.items">{{ item }}</li>
            </ul>

            <!-- Galleria immagini -->
            <div *ngIf="sec.type === 'images'" class="image-grid">
                <img *ngFor="let src of sec.items" [src]="src" />
            </div>
        </ng-container>
    </div>
</div>