<div class="hero">
  <div class="hero-content">
    <h1>La Storia di Clover</h1>
    <p>Un mondo rinato dopo il cataclisma della Tabula Rasa, dove tre stirpi lottano per il dominio.</p>
  </div>
</div>

<section class="lore-section">
  <h2>📖 La Tabula Rasa</h2>
  <p>
    Nessuno sa con certezza cosa abbia causato la Tabula Rasa, il grande evento che ha distrutto le civiltà precedenti.
    Alcuni parlano di un eccesso di Etere instabile, altri di un sacrificio antico. Ora, i sopravvissuti devono
    ricostruire.
  </p>
  <button class="cta-button" routerLink="/tabula-rasa">Scopri di più</button>
</section>

<section class="lore-section">
  <h2>🌄 Le Tre Stirpi e gli Avventurieri</h2>
  <p>
    A Sosaria coesistono le Stirpi del Sud, del Nord e dell’Ovest, affiancate dalla Gilda degli Avventurieri, ognuna
    animata da un ideale e da un destino unici. </p>
  <button class="cta-button" routerLink="/stirpi">Scopri di più</button>
</section>

<section class="lore-section">
  <h2>🏙️ La città di Clover</h2>
  <p>
    Sorge al centro di Sosaria, costruita attorno al Cristallo di Accumulo. È il crocevia delle tre stirpi, ognuna con
    la
    propria visione del futuro.
  </p>
  <button class="cta-button" routerLink="/clover">Scopri di più</button>
</section>

<section class="lore-section">
  <h2>⚖️ L’equilibrio dell’Etere</h2>
  <p>
    L’Etere è la fonte del potere, ma deve essere controllato. La Gilda degli Avventurieri si assicura che non venga
    abusato,
    per evitare una nuova catastrofe.
  </p>
  <button class="cta-button" routerLink="/etere">Scopri di più</button>
</section>

<section class="info-bottom">
  <h2>Scopri la tua stirpe</h2>
  <p>Sei pronto a scrivere la tua storia? Scegli la tua stirpe e inizia l'avventura.</p>
</section>