<div class="hero">
  <div class="hero-content">
    <h1>La Storia di Clover</h1>
    <p>Un mondo rinato dopo il cataclisma della Tabula Rasa, dove tre stirpi lottano per il dominio.</p>
  </div>
</div>

<section class="lore-section">
  <h2>📜 Passato e Presente</h2>
  <p>
    La storia completa di Sosaria, dalle antiche civiltà alla Tabula Rasa fino ai giorni nostri.
    Scopri i misteri del passato e come hanno plasmato il presente.
  </p>
  <button class="cta-button" routerLink="/passato-presente">Scopri di più</button>
</section>

<section class="lore-section">
  <h2>📖 La Storia di Clover</h2>
  <p>
    La nascita della grande città, dalla sua fondazione attorno al Cristallo di Accumulo fino agli eventi che l'hanno resa 
    il centro del mondo di Sosaria. Scopri come è diventata il punto di incontro delle tre stirpi.
  </p>
  <button class="cta-button" routerLink="/storia">Scopri di più</button>
</section>

<section class="lore-section">
  <h2>🏙️ La città di Clover</h2>
  <p>
    Sorge al centro di Sosaria, costruita attorno al Cristallo di Accumulo. È il crocevia delle tre stirpi, ognuna con
    la
    propria visione del futuro.
  </p>
  <button class="cta-button" routerLink="/clover">Scopri di più</button>
</section>

<section class="lore-section">
  <h2>🌄 Le Tre Stirpi di Clover e gli Avventurieri</h2>
  <p>
    A Sosaria coesistono le Stirpi del Sud, del Nord e dell’Ovest, affiancate dalla Gilda degli Avventurieri, ognuna
    animata da un ideale e da un destino unici. </p>
  <button class="cta-button" routerLink="/stirpi">Scopri di più</button>
</section>

<section class="lore-section">
  <h2>🌟 Le Leggende di Clover</h2>
  <p>
    Antiche storie e leggende che si tramandano di generazione in generazione tra gli abitanti di Clover.
    Racconti del Primo Custode, dell'Eroe dei Tre Regni e di altri miti che plasmano la cultura di Sosaria.
  </p>
  <button class="cta-button" routerLink="/leggende">Scopri di più</button>
</section>

<section class="info-bottom">
  <h2>Scopri la tua stirpe</h2>
  <p>Sei pronto a scrivere la tua storia? Scegli la tua stirpe e inizia l'avventura.</p>
</section>